<h3 class="ui header">{{t "forms.i-i-s-kursa-заправ-бак-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.типТопл
      class=(if (v-get validationModel "типТопл" "isInvalid") "error")
      label=(t "forms.i-i-s-kursa-заправ-бак-e.типТопл-caption")
      data-test-i-i-s-kursa-заправ-бак-e-типТопл=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "типТопл" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.цена
      class=(if (v-get validationModel "цена" "isInvalid") "error")
      label=(t "forms.i-i-s-kursa-заправ-бак-e.цена-caption")
      data-test-i-i-s-kursa-заправ-бак-e-цена=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "цена" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.уровЗалив
      class=(if (v-get validationModel "уровЗалив" "isInvalid") "error")
      label=(t "forms.i-i-s-kursa-заправ-бак-e.уровЗалив-caption")
      data-test-i-i-s-kursa-заправ-бак-e-уровЗалив=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "уровЗалив" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.объем
      class=(if (v-get validationModel "объем" "isInvalid") "error")
      label=(t "forms.i-i-s-kursa-заправ-бак-e.объем-caption")
      data-test-i-i-s-kursa-заправ-бак-e-объем=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "объем" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kursa-заправ-бак-e.техсост-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.техсост
      class=(if (v-get validationModel "техсост" "isInvalid") "error")
      data-test-i-i-s-kursa-заправ-бак-e-техсост=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "техсост" "message")}}
  </div>
</form>
