<h3 class="ui header">{{t "forms.i-i-s-kursa-клиент-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.наимен
      class=(if (v-get validationModel "наимен" "isInvalid") "error")
      label=(t "forms.i-i-s-kursa-клиент-e.наимен-caption")
      data-test-i-i-s-kursa-клиент-e-наимен=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "наимен" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номТел
      class=(if (v-get validationModel "номТел" "isInvalid") "error")
      label=(t "forms.i-i-s-kursa-клиент-e.номТел-caption")
      data-test-i-i-s-kursa-клиент-e-номТел=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номТел" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.eMail
      class=(if (v-get validationModel "eMail" "isInvalid") "error")
      label=(t "forms.i-i-s-kursa-клиент-e.eMail-caption")
      data-test-i-i-s-kursa-клиент-e-eMail=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "eMail" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kursa-клиент-e.датаРожд-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.датаРожд
      class=(if (v-get validationModel "датаРожд" "isInvalid") "error")
      data-test-i-i-s-kursa-клиент-e-датаРожд=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датаРожд" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.банкДан.номКарт
      class=(if (v-get validationModel.банкДан "номКарт" "isInvalid") "error")
      label=(t "forms.i-i-s-kursa-клиент-e.банкДан.номКарт-caption")
      data-test-i-i-s-kursa-клиент-e-банкДан-номКарт=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.банкДан "номКарт" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.картаЛояль.ном
      class=(if (v-get validationModel.картаЛояль "ном" "isInvalid") "error")
      label=(t "forms.i-i-s-kursa-клиент-e.картаЛояль.ном-caption")
      data-test-i-i-s-kursa-клиент-e-картаЛояль-ном=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.картаЛояль "ном" "message")}}
  </div>
</form>
