<h3 class="ui header">{{t "forms.i-i-s-kursa-чек-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номер
      class=(if (v-get validationModel "номер" "isInvalid") "error")
      label=(t "forms.i-i-s-kursa-чек-e.номер-caption")
      data-test-i-i-s-kursa-чек-e-номер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номер" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.сумма
      class=(if (v-get validationModel "сумма" "isInvalid") "error")
      label=(t "forms.i-i-s-kursa-чек-e.сумма-caption")
      data-test-i-i-s-kursa-чек-e-сумма=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сумма" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.клиент.наимен
      class=(if (v-get validationModel.клиент "наимен" "isInvalid") "error")
      label=(t "forms.i-i-s-kursa-чек-e.клиент.наимен-caption")
      data-test-i-i-s-kursa-чек-e-клиент-наимен=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.клиент "наимен" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kursa-чек-e.тЧТовары-caption"}}</label>
    {{flexberry-groupedit
      componentName="тЧТоварыGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.тЧТовары
      content=model.тЧТовары
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "тЧТовары" "isInvalid") "error")
      data-test-i-i-s-kursa-чек-e-тЧТовары=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "тЧТовары" "message")}}
  </div>
</form>
